<!doctype html>
<html>
<head>
    <title>Project Info</title>
    <!-- <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css"> -->
    <style type="text/css">
    th,td{
        padding:10px;
        text-align: center;
    }

    </style>

</head>
<body>
<h1>{{ title }}</h1>

<p>{{ description }}</p>

<p><b>Max Grade:</b> {{ max_grade }}</p>

{% if students_grades %}
    <table rules="all" border="1">
        <thead>
            <th>Student</th>
            <th>Grade</th>
        </thead>

        <tbody>
        {% for student, grade in students_grades %}
            <tr>
                <td><a href="/search-student?github={{student}}">{{ student }}</a></td>
                <td>{{ grade }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

</body>
</html>